.registro-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .registro-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .registro-form {
    display: block;
    flex-direction: column;
  }
  
  .registro-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .registro-input:focus {
    outline: none;
    border-color: dodgerblue;
  }
  
  .registro-button {
    padding: 10px 15px;
    background-color: dodgerblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .registro-button:hover {
    background-color: #4d94ff;
  }
  